<div class="calfondo">
    <div>
        <input type="number" class="pantalla" name="pantalla" value="{{resultado}}" readonly>
    </div>
    <div>
        <button>&radic;</button>
        <button>CE</button>
        <button name = "limpiar" (click) = "onLimpiar()">C</button>
        <button name = "borrar" (click) = "onSuprimir()">⌂</button>
    </div>
    <div>
        <button name = "siete" (click) = "onValor(7)">7</button>
        <button name = "ocho" (click) = "onValor(8)">8</button>
        <button name = "nueve" (click) = "onValor(9)">9</button>
        <button name = "multiplicar">x</button>
    </div>
    <div>
        <button name = "cuatro" (click) = "onValor(4)">4</button>
        <button name = "cinco" (click) = "onValor(5)">5</button>
        <button name = "seis" (click) = "onValor(6)">6</button>
        <button name = "restar">-</button>
    </div>
    <div>
        <button name = "uno" (click) = "onValor(1)">1</button>
        <button name = "dos" (click) = "onValor(2)">2</button>
        <button name = "tres" (click) = "onValor(3)">3</button>
        <button name = "sumar" type="submit" (click) = "onSumar()">+</button>
    </div>
    <div>
        <button name = "cero" (click) = "onValor(0)">0</button>
        <button name = "dobleCero">00</button>
        <button name = "dividir">÷</button>
        <button name = "igual">=</button>
    </div>
    <br>
</div>